.cover__link {
    display: block;
    color: white;
    text-decoration: none;
    z-index: 1;
    position: relative;    
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
    min-height: 740px;
}

.cover__link:hover::after {
    opacity: 0.8;
}

@media (max-width: 1279px) {
    .cover__link::after {
      min-height: 650px;
    }
  }
  
  @media (max-width: 1023px) {
    .cover__link::after {
      min-height: 480px;
    }
  }
  
  @media (max-width: 767px) {
    .cover__link::after {
      min-height: 200px;
    }
  }
  