.website__url-heading {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    color: #AAAAAA;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    text-align: left;

    margin-bottom: 12px;
}

@media (max-width: 1023px) {
    .photo-grid {
        line-height: 12px;
    }
}