.website__url-heading {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    color: #AAAAAA;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    text-align: left;
    letter-spacing: 0.2em;

    margin-bottom: 12px;
}