.cover{
    width: 1184px;
    height: 740px;
    position: relative;
    margin: auto;
    background: url('../../images/cover-trains.jpg');
    color: white;
}

@media (max-width: 768px) {
    .cover {
        width: 320px;
    }
}