.place{
    color: white;
    width: 984px;
    height: 660px;
    margin: 0 auto 80px;

    display: grid;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-of-type{
    margin-bottom: 0;
}