.footer {
  font-family: "Inter", Arial, sans-serif;
  margin: 92px auto 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media (max-width: 657px) {
  .footer {
    max-width: 720px;
    margin-top: 64px;
    flex-direction: column;
    margin-left: 16px;
  }
}
